<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>채팅방 목록</title>
    <link rel="stylesheet" th:href="@{/style/index.css}">
</head>
<body>

<div class="navbar">
    <form sec:authorize="isAnonymous()"  th:action="@{/login}">
        <button class="login-button" type="submit" sec:authorize="isAnonymous()" th:href="@{/login}">로그인</button>
    </form>
    <form sec:authorize="isAuthenticated()" th:action="@{/logout}" method="post">
        <button class="login-button" type="submit" sec:authorize="isAuthenticated()">로그아웃</button>
    </form>
</div>

<div class="container">
    <div class="chat-section" id="open-chat">
        <h2>오픈 채팅방</h2>
        <!-- 채팅방 목록이 여기에 들어갑니다 -->
    </div>

    <div class="chat-section" id="private-chat">
        <h2>개인 채팅방</h2>
        <!-- 채팅방 목록이 여기에 들어갑니다 -->
    </div>

    <div class="chat-section" id="friends-list">
        <h2>친구 목록</h2>
        <!-- 친구 목록이 여기에 들어갑니다 -->
    </div>
</div>

</body>
</html>

