<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Chat Site</title>
    <link rel="stylesheet" th:href="@{/styles/default.css}">
</head>
<body>
<header>
    <div id="google-auth">
        <a th:action="@{/oauth2/authorization/google}">
            구글 로그인
        </a>
        <a href="/login/oauth/authorize/kakao">
            카카오 로그인
        </a>
        <a th:action="@{/oauth2/authorization/naver}">
            네이버 로그인
        </a>
    </div>
</header>

</body>
</html>
